<% provide(:title, @helppost.title ) %>
<div class="row">
  <li class="helpposts">
    <span class="reward">謝礼：<%= @helppost.reward %></span>
    <span class="title">タイトル：<%= @helppost.title %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(@helppost.created_at) %> ago.
    </span>
    <span class="user"><%= @helppost.user.name %></span>
    <span class="catch_image"><%= image_tag @helppost.image_url, :size => '400x398'%></span>
    <span class="desired_time">希望時間：<%= @helppost.desired_time %></span>
    <span class="desired_place">希望場所：<%= @helppost.desired_place %></span>
    <span class="detail">詳細：<br><%= @helppost.detail %></span>
    <section>
      <%= render 'shared/comments_form' %>
    </section>
  <% if @helppost.comments.any? %>
    <div class="span4">
    <h3>Comments (<%= @helppost.comments.count %>)</h3>
    <ol class="comments">
      <%= render @comments %>
    </ol>
    </div>
  <% end %>
  <% if current_user?(@helppost.user) %>
    <%= link_to "delete", @helppost, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: @helppost.title %>
  <% end %>
  </li>
</div>